<!--
  Generated template for the PricePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title style="text-align:center">ข้อมูลราคาผัก</ion-title>
  </ion-navbar>

</ion-header>





<ion-content padding>
    
    <p>ชื่อผัก : แตงกวา ราคา(บาท)/กก.</p>

    <button ion-button icon-start clear small (click) ="seeprice1()">
        <ion-icon  name="eye"></ion-icon>
        <div>2561</div>
    </button>
    <button ion-button icon-start clear small (click) ="seeprice2()">
        <ion-icon  name="eye"></ion-icon>
        <div>2560</div>
    </button>
    <button ion-button icon-start clear small (click) ="seeprice3()">
        <ion-icon  name="eye"></ion-icon>
        <div>2559</div>
    </button>
    <button ion-button icon-start clear small (click) ="seeprice4()">
        <ion-icon  name="eye"></ion-icon>
        <div>2558</div>
    </button>
  <button ion-button icon-start clear small (click) ="seeprice5()">
      <ion-icon  name="eye"></ion-icon>
      <div>2557</div>
  </button>

    <p>ราคาประจำปี 2560</p>

      <div class="row">
          <div class="col-md-6">
            <div style="display: block;">
            <canvas baseChart height="350"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>

        
     
  </ion-content>

  


<!-- <ion-content padding>

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar >
    
     <ion-list>
      
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item> 
     
  </ion-list>  
  
  <ion-item >
    <p>ชื่อผัก : แตงกวา <br> ราคา(บาท)/กก.</p>
  </ion-item> 
  <ion-row>
    
      <button ion-button icon-start clear small (click) ="price1()">
        <ion-icon name="eye"></ion-icon>
        <div>ปี2560</div>
      </button>
      <button ion-button icon-start clear small (click) ="price2()">
        <ion-icon name="eye"></ion-icon>
        <div>ปี2559</div>
      </button>
      <button ion-button icon-start clear small (click) ="price3()">
        <ion-icon name="eye"></ion-icon>
        <div>ปี2558</div>
      </button>
      <button ion-button icon-start clear small (click) ="price4()">
        <ion-icon name="eye"></ion-icon>
        <div>ปี2557</div>
      </button>
      <button ion-button icon-start clear small (click) ="price5()">
        <ion-icon name="eye"></ion-icon>
        <div>ปี2556</div>
      </button>
   
  </ion-row>

  <ion-item >
    <p>ราคาประจำปี2560</p>
  </ion-item>
  <ion-row>
     <ion-col align='center'>1=น้อยที่สุด,2=น้อย,3=ปานกลาง,4=มาก,5=มากที่สุด</ion-col> 
  </ion-row>
 <ion-card *ngFor="let evaluatesbus of evaluateSbus">  
<div class="dp">
     <form name="scores" method="POST" action="testphp.php" > 
<table style="width:100%">
  
  
  <tr>
    <th>เดือน</th>
    <th rowspan="1">ราคาสูงสุด</th>
    <th>ราคาต่ำสุด</th>
    <th>เฉลี่ย</th>
  </tr>
 
  <tr >  
    <td>ม.ค.</td>
    <td>10</td>
    <td>20</td>
    <td>10</td>      
  </tr>

  <tr >  
    <td>ก.พ.</td>
    <td>10</td>
    <td>20</td>
    <td>10</td>
  </tr>

  <tr >    
    <td>มี.ค.</td>
    <td>10</td>
    <td>20</td>
    <td>10</td>
 </tr>

 <tr >     
   <td>พ.ค.</td>
   <td>10</td>
   <td>20</td>
   <td>10</td>
 </tr>

<tr >     
  <td>มิ.ย.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>ก.ค.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>ส.ค.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>ก.ย.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>ต.ค.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>พ.ย.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

<tr >     
  <td>ธ.ค.</td>
  <td>10</td>
  <td>20</td>
  <td>10</td>
</tr>

</table>

</div> -->

<!-- (click)="showAlert()" -->
<!-- <form name="scores" method="POST" (ngSubmit)=addScore()>
  <button ion-button type="submit" block (click)="showAlert()">บันทึกการลงคะแนน</button>
</form> -->

<!-- <form method="GET" action="testphp.php">
  <input type="text" name="Test">
  <input type="submit" value="save">

</form> -->
<!-- <form (ngSubmit)="onSubmit(registForm)" #registForm="ngForm" novalidate >
 
<input type="text" ngModel name="fullname">
  <button type="submit" [disabled]="!registForm.valid">Send</button>
</form> -->




<!-- </ion-content> -->


 <!-- <table width="70%" border="1" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="34"  style="text-align:center;">เดือน</td>
        <td style="font-weight:bold; text-align:center;">ราคาสูงสุด</td>
        <td style="font-weight:bold; text-align:center;">ราคาต่ำสุด</td>
        <td style="font-weight:bold; text-align:center;">เฉลี่ย</td>
      </tr>
    </table> -->